html {
    scroll-behavior: smooth;
}
body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #000000;
    background: linear-gradient(#06131D 0%, #000000 15%);
}

/* Утилитарные стили */
.container {
    width: 100%;
    max-width: 1085px;

    margin: 0 auto;
}
.title {
    font-weight: bold;
    font-size: 58px;
    line-height: 62px;
    letter-spacing: .6px;
    text-align: center;
    color: #F8F8F2;

    margin-bottom: 20px;
}
.text {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: .3px;
    text-align: center;
    color: #F8F8F2;

    max-width: 805px;

    margin: 0 auto 32px;
}
.block {
    padding: 48px 36px;

    border-radius: 24px;
    background-color: #1b1b1b;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.mt-a {
    margin-top: auto !important;
}
.ml-a {
    margin-left: auto !important;
}
.ml-24 {
    margin-left: 24px !important;
}
.mr-24 {
    margin-right: 24px !important;
}
.mb-224 {
    margin-bottom: 224px !important;
}

/* Шапка сайта */
.header {
    top: 0;
    left: 0;

    padding: 0;
    margin-bottom: 52px;

    background: transparent;

    transition: background .35s, padding .35s;
}
.header__container {
    display: flex;

    width: 100%;
    max-width: 1280px;

    margin: 12px auto 0;
}
.header__head {
    display: contents;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo__icon {
    display: block;

    width: 42px;
    height: 42px;

    object-fit: contain;

    margin-right: 8px;
}
.header__logo__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.20px;
    color: #f8f8f2;
}
.header__mobile {
    display: contents;
}
.header__menu {
    display: flex;
    align-items: center;

    margin-left: auto;
}
.hedear__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #f8f8f2;
}
.hedear__link + .hedear__link {
    margin-left: 48px;
}
.header__donwload {
    display: none;
}
.header__mas img {
    width: 100%;
    height: auto;

    max-height: 36px;
    
    aspect-ratio: 194 / 47;
}
.header__setapp {
    margin: 0 0 0 16px;
}
.header__setapp img {
    width: 100%;
    height: auto;

    max-height: 36px;
    
    aspect-ratio: 158 / 47;
}
.header__toggler {
    display: none;
}
.header.sticky {
    position: sticky;
    z-index: 10;
    
    padding: 16px 0;

    background: #000000;
}
.header.sticky .header__container {
    margin: 0 auto;
}
.header.sticky .header__logo {
    flex-basis: 180px;
    flex-grow: 1;
}
.header.sticky .header__menu {
    flex-grow: 3;

    justify-content: center;
}
.header.sticky .header__donwload {
    flex-basis: 180px;
    flex-grow: 1;

    display: flex;
}

/* Вступительный блок */
.hello {
    display: flex;
    align-items: center;
}
.hello .title {
    text-align: left;

    margin-left: 88px;
}
.hello .title span {
    color: #FFCA80;
}
.hello .text {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: .5px;
    text-align: left;

    max-width: 635px;
    
    margin: 0;
    margin-left: 88px;
}
.hello__overview {
    margin-top: 40px;
}
.hello__download {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 52px 28px;

    border-radius: 25px;
    background: #FFFFFF;
}
.hello__filebo {
    display: block;

    width: 185px;
    height: auto;

    margin-top: -45px;
}
.hello__title {
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 1.2px;
    color: #22212C;
    
    margin-bottom: 12px;
}
.hello__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.hello__mas {
    width: 195px;
    height: auto;
    margin: 0 auto 10px;
} 
.hello__setapp {
    width: 160px;
    height: auto;

    margin: 0 auto 12px;
}
.hello__trial {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: .3px;

    width: fit-content;

    padding-left: 24px;
    margin: 0 auto;
}
.hello__trial::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 14px;
    height: 14px;

    -webkit-mask: url('../icons/calendar.svg') center / contain no-repeat;
            mask: url('../icons/calendar.svg') center / contain no-repeat;

    background: #000000;
}

/* Фильм */
.film {
    display: flex;

    margin-bottom: 135px;
}
.film__content {
    padding-top: 16px;
    margin-right: 24px;

    max-width: 265px;
}
.film__title {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: .3px;
    line-height: 40px;
    text-align: right;
    color: #F8F8F2;

    margin-bottom: 20px;
}
.film__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2px;
    text-align: right;
    color: #F8F8F2;
}
.film__video {
    position: relative;

    width: 100%;

    cursor: pointer;
}
.film__preview {
    width: 100%;

    border-radius: 32px;

    user-select: none;
    pointer-events: none;
}
.film__watch {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 2.35px;
    color: #000000;

    user-select: none;
    pointer-events: none;
}
.film__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 170px;
    height: 170px;

    user-select: none;
    pointer-events: none;
}

/* Пример */
.overview {
    margin-bottom: 100px;

    max-width: 1210px;
}
.overview .title {
    margin-bottom: 36px;
}
.overview__image {
    margin-bottom: 40px;
}
.overview__fetures {
    display: flex;
    justify-content: center;
}
.overview__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.overview__item + .overview__item {
    margin-left: 70px;
}
.overview__icon {
    display: block;

    width: 60px;
    height: 60px;

    margin-bottom: 6px;
}
.overview__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .2px;
    color: #F8F8F2;
    text-align: center;
}

/* Использование */
.use {
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    padding: 36px 60px;
    margin-bottom: 60px;

    max-width: 1364px;

    background: radial-gradient(circle at 50% 50%, #1E234C 0%, #1E234B 5%, #0A0A18 80%, #030106 100%);
}
.use__content {

}
.use__command {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.use__icon {
    display: block;

    width: 100%;
    max-width: 248px;
    height: auto;

    margin-left: -8px;
    margin-bottom: 8px;
}
.use__command .use__text {
    font-size: 28px;
    line-height: 40px;
}
.use__type {
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #F8F8F2;

    margin-bottom: 60px;
}
.use .title {
    font-size: 52px;
    text-align: left;

    margin-bottom: 40px;
}
.use .title span {
    color: #FFCA80;
}
.use__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .3px;
    color: #F8F8F2;

    max-width: 464px;
}
.use__text .icon {
    display: inline-block;

    width: 26px;
    height: 26px;

    margin: 0 0 -3px;

    -webkit-mask: url('../icons/command.svg') center / contain no-repeat;
            mask: url('../icons/command.svg') center / contain no-repeat;

    background: #F8F8F2;
}
.use__text + .use__text {
    margin-top: 32px;
}
.use__repeat {
    position: relative;

    font-size: 16px;
    line-height: 30px;
    letter-spacing: .2px;
    color: #F8F8F2;

    width: fit-content;

    padding-right: 24px;
    margin-top: 24px;

    cursor: pointer;
}
.use__repeat::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 20px;
    height: 20px;

    -webkit-mask: url('../icons/arrow.counterclockwise.svg') center / contain no-repeat;
            mask: url('../icons/arrow.counterclockwise.svg') center / contain no-repeat;

    background: #F8F8F2;
}
.use__image {
    display: block;
    
    width: 100%;
    max-width: 860px;
    height: auto;

    margin-right: -200px;
}

/* Примеры интерфесов */
.interface {
    margin-bottom: 108px;
}
.interface__title {
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #F8F8F2;

    margin-bottom: 12px;
}
.interface .title {
    text-align: left;
}
.interface .title span {
    color: #FFCA80;
}
.interface .text {
    text-align: left;
    margin: 0 0 32px;
}
.interface__two {
    margin-bottom: 128px;
}
.interface__two .title {
    text-align: center;
}
.interface__two .text {
    text-align: center;

    margin: 0 auto 16px;
}
.interface__repeat {
    position: relative;

    font-size: 16px;
    line-height: 30px;
    letter-spacing: .2px;
    color: #F8F8F2;
    text-align: center;

    width: fit-content;

    padding-right: 24px;
    margin: 0 auto 40px;

    cursor: pointer;
}
.interface__repeat::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 20px;
    height: 20px;

    -webkit-mask: url('../icons/arrow.counterclockwise.svg') center / contain no-repeat;
            mask: url('../icons/arrow.counterclockwise.svg') center / contain no-repeat;

    background: #F8F8F2;
}
.interface__desc {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2px;
    color: #F8F8F2;

    margin-top: 8px;
}

/* Примеры интерфесов */
.preview {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding: 30px 60px 60px;

    margin-bottom: 118px;
}
.preview__content {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 439px;
}
.preview__type {
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #F8F8F2;

    margin-bottom: 56px;
}
.preview .title {
    text-align: left;
}
.preview .title span {
    color: #FFCA80;
}
.preview__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2px;
    color: #F8F8F2;
}
.preview__text + .preview__text {
    margin-top: 24px;
}
.preview__repeat {
    position: relative;

    font-size: 16px;
    line-height: 30px;
    letter-spacing: .2px;
    color: #F8F8F2;

    width: fit-content;

    padding-right: 24px;
    margin-top: 24px;

    cursor: pointer;
}
.preview__repeat::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 20px;
    height: 20px;

    -webkit-mask: url('../icons/arrow.counterclockwise.svg') center / contain no-repeat;
            mask: url('../icons/arrow.counterclockwise.svg') center / contain no-repeat;

    background: #F8F8F2;
}
.preview__image {
    position: absolute;
    right: -75px;
    bottom: 50%;
    transform: translateY(50%);

    width: 625px;
    height: auto;

    object-fit: fill;
}
.nabigation .preview__image {
    position: absolute;
    right: -650px;
    bottom: 35px;
    transform: unset;

    display: block;

    width: 1200px;
    height: auto;

    object-fit: fill;
}
.preview__line {
    position: absolute;
    left: 47%;
    bottom: 80px;
    z-index: 1;
    transform: translateX(-50%);

    display: block;
    height: 450px;
}

/* Видео */
.videos {
    margin-bottom: 128px;
}
.videos .title {
    margin-bottom: 72px;
}
.videos .title span {
    color: #FFCA80;
}
.videos__list {
    background: url('../images/videosBg.png') center / 750px 700px no-repeat;
}
.videos__item {
    display: flex;
}
.videos__item + .videos__item {
    margin-top: 80px;
}
.videos__item__right .videos__content {
    text-align: right;
}
.videos__content {
    display: flex;
    flex-direction: column;

    padding-top: 8px;
}
.videos__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #F8F8F2;
}
.videos__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .2px;
    color: #F8F8F2;
}
.videos__video {
    position: relative;

    width: 100%;
    max-width: 720px;

    cursor: pointer;
}
.videos__preview {
    display: block;
    
    width: 100%;
    height: auto;

    object-fit: cover;

    border-radius: 32px;

    user-select: none;
    pointer-events: none;
}
.videos__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 150px;
    height: 150px;
    
    border-radius: 50%;

    user-select: none;
    pointer-events: none;
}

/* Отзывы */
.comments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.comments .title {
    display: block;

    width: 100%;
    
    margin-bottom: 72px;
}
.comments .title span {
    color: #FFCA80;
}
.comments__item {
    position: relative;

    margin-bottom: 52px;
}
.comments__item__small {
    width: calc(100% / 2 - 24px);
    min-height: 550px;
}
.comments__item__big {
    width: 100%;
}
.comments__content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    height: 100%;

    margin-top: 12px;
    margin-right: 12px;
    padding: 30px 40px;

    background: #F5F2F9;
    border-radius: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.comments__background {
    position: absolute;
    top: 0px;
    left: 12px;
    z-index: 1;

    width: calc(100% - 12px);
    height: 100%;

    background: #F7A222;
    border-radius: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.comments__text {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: .3px;
    color: #000000;

    margin-bottom: 32px;
}
.comments__author {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: .3px;
    color: #000000;

    margin-top: auto;
}
.comments__appstore {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: .3px;
    color: #000000;
}
.comments__appstore span {
    color: #FC9013;
}
.comments__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    max-height: 0;
    overflow: hidden;

    transition: max-height .35s;
}
.comments__toggler {
    position: relative;

    font-size: 26px;
    line-height: 38px;
    letter-spacing: .3px;
    text-align: center;
    color: #2892F4;

    display: block;

    width: fit-content;

    padding-right: 24px;
    margin: 0 auto;

    cursor: pointer;
}
.comments__toggler::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 22px;
    height: 22px;

    -webkit-mask: url('../icons/chevron.right.svg') center / contain no-repeat;
            mask: url('../icons/chevron.right.svg') center / contain no-repeat;

    background: #2892F4;
}

/* Вопрос - ответ */
.faq {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 128px;
}
.faq .title {
    text-align: left;
}
.faq__list {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 542px;
}
.faq__item  + .faq__item {
    margin-top: 48px;
}
.faq__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #F8F8F2;

    margin-bottom: 12px;
}
.faq__text {
    font-size: 24px;
    line-height: 32px;
    
    color: #D2D2D7;
}

/* Поддержка */ 
.fetures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 96px;
}
.fetures__item {
    width: calc(100% / 2 - 16px);

    margin: 0 0 32px;
}
.fetures__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #FFFFFF;

    margin-bottom: 20px;
}
.fetures__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #C6C8CA;
}
.fetures__icons {
    display: flex;

    margin-bottom: 20px;
}
.fetures__icon {
    display: block;
    width: 110px;
    height: 110px;

    object-fit: contain;
}
.fetures__icon:nth-of-type(1) {
    position: relative;

    z-index: 2;
}
.fetures__icon + .fetures__icon {
    margin-left: -32px;
}

/* Разработчики */
.devolopers {
    margin-bottom: 128px;
}
.devolopers .text {
    margin-bottom: 52px;
}
.devolopers .bg-orange {
    background: #FA8457;
}
.devolopers .bg-violet {
    background: #9A88AC;
}
.devolopers .bg-blue {
    background: #D8D8F2;
}
.devolopers .z-i-1 {
    z-index: 1;
}
.devolopers .z-i-2 {
    z-index: 2;
}
.devolopers .z-i-3 {
    z-index: 3;
}
.devolopers__list {
    display: flex;
    justify-content: center;
}
.devolopers__item {
    position: relative;

    display: block;
    width: 184px;
    height: 184px;
}
.devolopers__image {
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
}
.devolopers__item + .devolopers__item {
    margin-left: -16px;
}
.devolopers__name {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .3px;
    color: #000000;
}

/* Обои */
.wallpapers {
    margin-bottom: 128px;
}
.wallpapers .title span {
    color: #FFCA80;
}
.wallpapers__list {
    display: flex;
    justify-content: center;

    margin-bottom: 52px;
}
.wallpapers__item {
    display: block;
    
    width: 100%;
    height: auto;

    max-width: 190px;

    object-fit: contain;
}
.wallpapers__item + .wallpapers__item {
    margin-left: 24px;
}
.wallpapers__download {
    position: relative;

    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: .3px;
    color: #2892F4;

    display: flex;
    justify-content: center;

    width: fit-content;

    padding-right: 32px;
    margin: 0 auto;
}
.wallpapers__download::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 24px;
    height: 24px;

    -webkit-mask: url('../icons/arrow.down.svg') center / contain no-repeat;
            mask: url('../icons/arrow.down.svg') center / contain no-repeat;

    background: #2892F4;
}

/* Подписка на новости */
.newsletter {
    margin-bottom: 128px;
}
.newsletter__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #f8f8f2;

    display: block;
    width: 100%;

    margin-bottom: 16px;
}
.newsletter__text {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: .3px;
    text-align: left;
    color: #f8f8f2;

    display: block;

    max-width: 800px;

    margin-bottom: 32px;
}
.newsletter__field {
    display: flex;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.newsletter__input {
    font-weight: normal;
    font-size: 28px;
    line-height: 80px;
    color: #A9A9A9;

    width: 100%;

    padding: 0 32px;

    border: none;
    background: #333333;
}
.newsletter__input:focus {
    outline: none;
}
.newsletter__btn {
    font-weight: bold;
    font-size: 28px;
    line-height: 80px;
    color: #F8F8F2;

    width: 100%;
    max-width: 300px;

    border: none;
    background: #4A90E2;

    transition: color .35s, background .35s;

    cursor: pointer;
}
.newsletter__btn:hover {
    color: #4A90E2;
    background: #F8F8F2;
}

/* Подвал */
.footer {
    display: flex;

    padding-top: 16px;
    margin-bottom: 128px;

    border-top: 1px solid #979797;
}
.footer__column {
    display: flex;
    flex-direction: column;

    width: calc(100% / 4);
    height: auto;
}
.footer__column:last-of-type {
    width: calc(100% / 5);
}
.footer__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #f8f8f2;

    margin-bottom: 20px;
}
.footer__copyright,
.footer__link {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: .3px;
    color: #b8b8d4;

    display: block;

    transition: color .35s;
}
.footer__link:hover {
    color: #f8f8f2;
}

/* Модалки */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    pointer-events: none;
    user-select: none;

    opacity: 0;

    transition: opacity .35s;
} 
.modal.is-open {
    pointer-events: all;
    user-select: auto;
    opacity: 1;
}

.modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: #000000;
}

.modal__container {
    max-width: 1440px;
    width: 100%;
    height: auto;
    
    aspect-ratio: 16 / 9;
}
.modal__container iframe {
    max-width: 1440px;
    width: 100%;
    height: auto;
    
    aspect-ratio: 16 / 9;
}

.modal__close {
    position: fixed;
    top: 32px;
    left: 32px;

    display: block;

    width: 32px;
    height: 32px;

    -webkit-mask: url('../icons/multiply.svg') center / contain no-repeat;
            mask: url('../icons/multiply.svg') center / contain no-repeat;

    background: #AAA;

    cursor: pointer;

    transition: background .35s;
}
.modal__close:hover {
    background: #FFFFFF;
}

@media screen and (min-width: 769px) and (max-width: 1268px) {
    body {
        padding: 0 20px;
    }
    .container {
        max-width: unset;
    }

    .header {
        padding: 0 20px;
    }
    .header.sticky .header__donwload {
        align-items: center;
    }

    .film__content {
        flex-shrink: 0;
    }
    .film__video {
        flex-shrink: 1;
    }

    .overview__image {
        width: 100%;
    }

    .use {
        padding: 32px 60px;
    }
    .use__image {
        margin-right: -320px;
    }

    .interface__img {
        width: 100%;
    }
    .interface__desc {
        text-align: center;
    }

    .preview {
        padding: 30px 60px 60px;
    }
    .preview__line {
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 1168px) {
    .use {
        align-items: center;
    }
    .use__image {
        max-width: 645px;
    }

    .preview__image {
        width: 568px;
    }
    .nabigation .preview__image {
        width: 900px;

        right: -488px;
        bottom: 50%;
        transform: translateY(50%);
    }
}
@media screen and (min-width: 769px) and (max-width: 1068px) {
    .hello .title {
        margin-left: 0;
    }
    .hello .text {
        margin-left: 0;
    }
    .hello__overview {
        width: 100%;
    }

    .film__watch {
        font-size: 56px;
        line-height: 60px;

        left: 40px;
    }
    .film__play {
        width: 128px;
        height: 128px;
    }
}
@media screen and (min-width: 769px) and (max-width: 968px) {
    .title {
        font-size: 44px;
        line-height: 48px;
    }

    .header.sticky .header__logo {
        flex-basis: unset;
    }
    .hedear__link + .hedear__link {
        margin-left: 32px;
    }

    .hello .text {
        font-size: 18px;
        line-height: 22px;
    }

    .use {
        padding: 24px 32px;
    }
    .use .title {
        font-size: 36px;
        line-height: 40px;

        margin-bottom: 32px;
    }
    .use__text {
        font-size: 16px;
        line-height: 20px;
    }
    .use__command .use__text {
        font-size: 18px;
        line-height: 22px;
    }

    .use__type,
    .preview__type,
    .interface__title {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 32px;
    }
    .interface .text {
        font-size: 24px;
        line-height: 28px;
    }

    .preview__image {
        width: 468px;
    }

    .comments__appstore,
    .comments__author,
    .comments__text {
        font-size: 24px;
        line-height: 28px;
    }
    .comments__item__small {
        min-height: unset;
    }

    .wallpapers__item {
        width: calc(100% / 4 - 8px * 3 / 4);
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 28px;
        line-height: 32px;
    }

    body {
        padding-top: 106px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        
        padding: 0;
        margin: 0;

        background: #000000;
    }
    .header.sticky {
        padding: 0;
    }

    .header__container {
        align-items: center;

        margin: 0;
    }
    .header__mobile {
        position: fixed;
        top: 74px;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-100%);

        display: flex;
        flex-direction: column;

        padding: 20px;

        background: #000000;

        transition: transform .35s;
    }
    .open .header__mobile {
        transform: translateY(0);
    }
    .header__head {
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;

        width: 100%;

        padding: 20px;

        background: #000000;
    }
    .header__toggler {
        display: flex;
        align-items: center;

        width: 40px;
        height: 40px;

        padding: 10px;
        margin-left: auto;
    }
    .header__toggler__line {
        position: relative;

        display: block;

        width: 100%;
        height: 1px;

        background: #FFFFFF;

        transition: background .35s;
    }
    .header__toggler__line::before {
        content: '';

        position: absolute;
        top: -6px;
        left: 0;
        transform: rotate(0deg);

        display: block;

        width: 100%;
        height: 1px;

        background: #FFFFFF;

        transition: top .35s, transform .35s;
    }
    .header__toggler__line::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -6px;
        transform: rotate(0deg);

        display: block;

        width: 100%;
        height: 1px;

        background: #FFFFFF;

        transition: bottom .35s, transform .35s;
    }
    .open .header__toggler__line {
        background: transparent;
    }
    .open .header__toggler__line::before {
        top: 0;
        transform: rotate(-45deg);
    }
    .open .header__toggler__line::after {
        bottom: 0;
        transform: rotate(45deg);
    } 
    .header__menu {
        flex-direction: column;
        align-items: flex-start;

        width: 100%;

        margin-left: 0;
    }
    .hedear__link + .hedear__link {
        margin-left: 0;
        margin-top: 16px;
    }
    .header__donwload {
        display: flex;

        margin-top: 16px;
    }
    .header__setapp img {
        max-height: unset;
    }
    .header__mas img {
        max-height: unset;
    }

    .hello {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;
    }
    .hello .title {
        text-align: center;
        
        margin: 0 0 16px;
    }
    .hello .text {
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        margin: 0 auto;
    }
    .hello__overview {
        margin-top: 24px;

        width: 100%;
        height: auto;
    }
    .hello__download {
        margin-top: -32px;

        padding: 0 48px 16px;
    }
    .hello__filebo {
        margin: -40px auto 0;

        width: 146px;
    }
    .hello__title {
        font-size: 36px;
        line-height: 58px;
    }

    .film {
        flex-direction: column;

        padding: 0 20px;

        margin-bottom: 60px;
    }
    .film__content {
        display: contents;
    }
    .film__title {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
    .film__title br {
        display: none;
    }
    .film__text {
        order: 1;

        font-size: 14px;
        line-height: 18px;
        text-align: center;

        max-width: 360px;

        margin: 0 auto;
    }
    .film__video {
        margin: 0 0 12px;
    }
    .film__watch {
        left: 32px;
        
        font-size: 48px;
        line-height: 52px;
    }
    .film__play {
        width: 128px;
        height: 128px;
    }
    .film__preview {
        border-radius: 14px;
    }

    .overview {
        padding: 0 20px;
        margin-bottom: 60px;
    }
    .overview .title {
        margin: 0 0 20px;
    }
    .overview__image {
        width: 100%;

        margin: 0 0 16px;
    }
    .overview .text {
        font-size: 16px;
        line-height: 20px;

        margin-bottom: 20px;
    }
    .overview__fetures {
        margin-top: 32px;
    }
    .overview__item + .overview__item {
        margin-left: 32px;
    }

    .use {
        flex-direction: column;

        padding: 20px;
        margin-bottom: 60px;

        border-radius: 0;
    }
    .use__content {
        display: contents;
    }
    .use__type {
        order: -3;
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    .use .title {
        order: -2;
        font-size: 28px;
        text-align: center;

        margin-bottom: 16px;
    }
    .use__text {
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        margin: 0 auto;
    }
    .use__text + .use__text {
        margin-top: 16px;
    }
    .use__repeat {
        display: none;
    }
    .use__image {
        margin-top: 24px;
    }
    .use__command {
        order: 1;

        flex-direction: column;

        margin: 32px 0 0;
    }
    .use__command .use__text {
        font-size: 14px;
        line-height: 18px;
    }
    .use__icon {
        margin: 0 auto 16px;
    }
    .use__text .icon {
        width: 14px;
        height: 14px;
    }

    .interface {
        padding:  0 20px;
        margin-bottom: 60px;
    }
    .interface__title {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    .interface .title {
        font-size: 28px;
        text-align: center;

        margin-bottom: 16px;
    }
    .interface .text {
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        margin: 0 0 16px;
    }
    .interface img {
        display: block;
        width: 100%;
        height: auto;

        margin: 0 0 16px;
    }
    .interface__desc {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .interface__repeat {
        display: none;
    }

    .preview {
        align-items: unset;
        flex-direction: column;

        padding: 20px;
        margin-bottom: 60px !important;

        background: transparent;
        border-radius: 0;
    }
    .preview__content {
        display: contents;
    }
    .preview__type {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    .preview .title {
        font-size: 28px;
        text-align: center;

        margin-bottom: 16px;
    }
    .preview__text {
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        margin: 0 auto;
    }
    .preview__text + .preview__text {
        margin-top: 16px;
    }
    .preview__repeat {
        display: none;
    }
    .preview__line {
        display: none;
    }
    .nabigation .preview__image,
    .preview__image {
        position: relative;
        right: unset;
        bottom: unset;
        transform: unset;

        width: auto;

        margin: 16px -20px -32px;
    }
    .nabigation .preview__image {
        margin: 16px 0 0;
    }

    .videos {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;
    }
    .videos .title {
        margin-bottom: 32px;
    }
    .videos__list {
        display: contents;
    }
    .videos__item {
        flex-direction: column;
    }
    .videos__item + .videos__item {
        margin-top: 40px;
    }
    .videos__content {
        display: contents;
    }
    .videos__title {
        order: -2;

        font-size: 24px;
        line-height: 28px;

        margin: 0 0 16px 2px;
    }
    .videos__video {
        order: -1;
    }
    .videos__preview {
        margin: 0 0 16px;

        border-radius: 14px;
    }
    .videos__play {
        width: 128px;
        height: 128px;
    }
    .videos__text {
        font-size: 14px;
        line-height: 18px;
    }
    .videos__item__right .videos__content {
        text-align: left;
    }

    .comments {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;
    }
    .comments .title {
        font-size: 28px;
        text-align: center;

        margin-bottom: 28px;
    }
    .comments__item {
        margin-bottom: 40px;
    }
    .comments__item__small {
        width: 100%;
        min-height: auto;
    }
    .comments__content {
        margin-top: 8px;
        margin-right: 8px;
    }
    .comments__background {
        bottom: 8px;

        height: auto;
    }
    .comments__text {
        font-size: 16px;
        line-height: 20px;

        margin-bottom: 16px;
    }
    .comments__author {
        font-size: 16px;
        line-height: 20px;
    }
    .comments__appstore {
        font-size: 16px;
        line-height: 20px;
    }
    .comments__toggler {
        font-size: 16px;
        line-height: 20px;

        padding-right: 20px;
    }
    .comments__toggler::after {
        width: 16px;
        height: 16px;
    }

    .fetures {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;
    }
    .fetures__item {
        width: 100%;

        padding: 28px;
    }
    .fetures__icon {
        width: 80px;
        height: 80px;
    }
    .fetures__title {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 12px;
    }
    .fetures__text {
        font-size: 12px;
        line-height: 16px;
    }

    .faq {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;
    }
    .faq .title {
        margin-bottom: 32px;
    }
    .faq__item + .faq__item {
        margin-top: 32px;   
    }
    .faq__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .faq__text {
        font-size: 14px;
        line-height: 18px;
    }
    .faq__text + .faq__text {
        margin-top: 16px;
    }

    .devolopers {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;

        background: transparent;
    }
    .devolopers .text {
        font-size: 16px;
        line-height: 20px;

        margin-bottom: 32px;
    }
    .devolopers__list {
        flex-wrap: wrap;

        padding: 0 44px;
    }
    .devolopers__item {
        width: 50%;
        height: auto;
    }
    .devolopers__name {
        font-size: 20px;
        line-height: 24px;
    }
    .devolopers__image {
        aspect-ratio: 1 / 1;
    }
    .devolopers .z-i-3:last-of-type {
        margin-top: -16px;
    }
    .devolopers .z-i-2 {
        margin-top: -16px;
        margin-left: 0;
    }

    .wallpapers {
        flex-direction: column;

        padding: 0 20px;
        margin-bottom: 60px;
    }
    .wallpapers .text {
        font-size: 16px;
        line-height: 20px;

        margin-bottom: 32px;
    }
    .wallpapers__list {
        width: 100%;

        margin-bottom: 32px;
    }
    .wallpapers__item {
        width: calc(100% / 4 - 8px * 3 / 4);
        max-width: 100%;
    }
    .wallpapers__item + .wallpapers__item {
        margin-left: 8px;
    }
    .wallpapers__download {
        font-size: 16px;
        line-height: 20px;

        padding-right: 20px;
    }
    .wallpapers__download::after {
        width: 16px;
        height: 16px;
    }

    .newsletter {
        flex-direction: column;

        padding: 24px 32px;
        margin-bottom: 60px;

        border-radius: 0;
    }
    .newsletter__title {
        font-size: 28px;
        line-height: 32px;
        text-align: center;

        margin-bottom: 16px;
    }
    .newsletter__text {
        font-size: 14px;
        line-height: 18px;
        text-align: center;

        margin-bottom: 32px;
    }
    .newsletter__input {
        font-size: 16px;
        line-height: 46px;

        padding: 0 16px;
    }
    .newsletter__btn {
        font-size: 20px;
        line-height: 46px;

        max-width: 136px;
    }

    .footer {
        padding: 20px 20px 0;
        margin-bottom: 60px;
    }
    .footer__column {
        flex-grow: 1;

        width: auto;
    }
    .footer__column:last-of-type {
        flex-grow: 1;
        
        width: auto;
        margin-left: unset !important;
    }
    .footer__title {
        font-size: 14px;
        line-height: 18px;


        margin-bottom: 8px;
    }
    .footer__copyright, .footer__link {
        font-size: 14px;
        line-height: 20px;
    }

    .modal__close {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 568px) {
    .hello__download {
        margin-top: 0;
    }

    .film__watch {
        left: 16px;
        
        font-size: 32px;
        line-height: 36px;
    }
    .film__play {
        width: 96px;
        height: 96px;
    }

    .overview .title br {
        display: none;
    }
    
    .videos__play {
        width: 96px;
        height: 96px;
    }
}
@media screen and (max-width: 400px) {
    .film__watch {
        left: 16px;
        
        font-size: 28px;
        line-height: 32px;
    }
    .film__play {
        width: 72px;
        height: 72px;
    }

    .videos__play {
        width: 72px;
        height: 72px;
    }
}